body, form{
    margin:0;
    padding: 0;
    top:0;
    bottom:0;
    top:left;
    bottom:right;
    font-size: 12pt;
}

:focus{
    outline: none;
}

a{
    color:red;
}

a:hover{
    color: blue;
}
h1{
    font: 1em sans-serif;
}

.cardContainer{
    background: white;
    padding:3em;    
}
.wrap{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(350px, auto);
}

.card {
    padding:1em;
    margin: 0;
    box-shadow: 0 0.2em 0.9em rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: scale(0.9, 0.9);
}

.card:hover::after{
    opacity: 1;
}

.card::after {
    content: '';
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

img{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 0.5em;
    font-size: 1em;
}
