body, form{
    margin:0;
    padding: 0;
    top:0;
    bottom:0;
    top:left;
    bottom:right;
    font-size: 12pt;
}

:focus{
    outline: none;
}

a{
    color:red;
}

a:hover{
    color: blue;
}
h1{
    font: 1em sans-serif;
}

.cardContainer{
    background: white;
    padding:3em;    
}
.wrap{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 1em;
    column-gap: 1em;
    justify-items: center;
}

.wrap > *{
    padding:1em;
    margin: 0;
    box-shadow: 0 0.2em 0.9em rgba(0,0,0,0.3);
    width: 13em;
    height: 15em;
     transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: scale(0.9, 0.9);
}

.card:hover::after{
    opacity: 1;
}

.card::after {
    content: '';
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

img{
    max-width: 100%;
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
}

button{
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 0.5em;
    font-size: 1em;
}
